<div class="right-container">
  <h1>Following</h1>
  <hr>
  <div class="followees">
    <% current_user.followees.each do |followee| %>
      <div class="followee">
        <h3> <%= full_name(followee) %></h3>
        <%= image_tag image_path(followee), alt: 'No Image' %>
        <div class="rant" data-user="<%= followee.id %>">
          <%= link_to 'Unfollow', '#', class: 'unfollow-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>