<div class="right-container">
  <h1>Following</h1>
  <hr>
  <div class="followees">
    <% current_user.followees.each do |followee| %>
      <div class="followee">
        <h3> <%= full_name(followee) %></h3>
        <%= image_tag image_path(followee), alt: 'No Image' %>
        <%= link_to "Unfollow", unfollow_path(followee) %>
      </div>
    <% end %>
  </div>
</div>