<div class="nav">
  <div class="title"></div>
  <div class="nav_buttons">
    <%= link_to "Login", signin_path %>
    <%= button_to "Join", new_user_path %>
  </div>
</div>
<div class="main-title">
  <h1>Rantly</h1>
  <h3>Let it all out</h3>
</div>