<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>
  Check Out <%= @ranter.username + "'s" %> Ne w Rant About
  <%= @ranter.rants.last.subject %> <%= link_to 'here', user_rant_url(@ranter, @ranter.rants.last) %>:
</h1>
</body>
</html>