<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="admin-dashboard-container">
  <div class="chart">
    <h2>Rants per day</h2>
    <%= column_chart Rant.group_by_day(:created_at, range: 1.week.ago.midnight..Time.now, format: "%l %P").count, min: 0, max: 20 %>
  </div>
  <div class="chart">
    <h2>Signups per day</h2>
    <%= column_chart User.group_by_day(:created_at, range: 1.week.ago.midnight..Time.now, format: "%l %P").count, min: 0, max: 20, library: {chart: {title: 'User Registrations per Day'}} %>
  </div>
  <div class="chart">
    <h2>Logins per hour</h2>
    <%= column_chart admin_logins_chart_path, min: 0, max: 20 %>
  </div>
</div>


