<div class="admin-container">
  <h1>Users</h1>
  <table class="admin-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number of Rants</th>
      <th class="disabled">Disabled</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= full_name(user) %></td>
        <td><%= user.username %></td>
        <td><%= user.rants.length %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    <% remaining_table_row_count(@users).each do |row| %>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>