.admin-rants {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2em 3em 2em 3em;

  h1 {
    font-size: 3em;
  }

  .admin-rant-filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1em 0;


    div {
      width: 20%;

      .filter-button {
        width: 50%;
        background-color: #666;
        color: #333;
      }
    }

    .filter-button {
      background-color: blue;
      color: #fff;
      text-decoration: none;
      height: 1em;
      padding: 5px;
      text-align: center;
    }
  }

  .admin-rants-table {
    width: 100%;

    th, td {
      text-align: left;
      border: 1px solid #333;
    }

    td {
      padding: 5px;
    }


    tr:nth-child(odd) {
      background-color: #EDEDED;
    }

    th {
      background-color: #c0c0c0;
      padding-left: 5px;
    }
  }
}