.admin-dashboard-container {
  display: flex;
  justify-content: space-around;
  background: #fff;
  width: 100%;
  height: 100vh;

  .chart {
    width: 25%;
    padding: 2em;
    text-align: center;
  }
}