.dashboard-container {
  display: flex;

  .left-container {
    color: #B8B8B8;
    padding: 1em;
    width: 25%;

    .dashboard-user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1em;

      img {
        width: 50%;
      }

      h3 {
        margin-top: .5em;

        a {
          text-decoration: none;
          color: #B8B8B8;
        }

      }

    }

    label {
      display: block;
      margin: 10px 0 3px 0;
    }

    input, textarea {
      width: 100%;
    }

    .button {
      margin-top: 1em;
    }
  }

  .right-container {
    background-color: #fff;
    width: 75%;
    padding: 1em 1em 1em 2em;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 3em;
    }

    .my-rants {
      display: flex;
      flex-direction: column;
      align-items: center;

      .my-rant {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 1em;

        div {
          display: flex;
          align-items: center;

          .my-rant-user-info {
            width: 100px;
            display: flex;
            flex-direction: column;

            img {
              width: 100%;
              height: 100px;
            }
          }

          p {
            margin-left: 1em;
          }
        }
      }
    }
  }
}