.right-container {
  background-color: #fff;
  width: 75%;
  padding: 1em 1em 1em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;

  hr {
    width: 100%;
  }

  .rant-separator {
    width: 30%;
    margin: 1em;
  }

  h1 {
    font-size: 3em;
  }

  .rants {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    hr {
      width: 30%;
    }

    hr:last-child {
      width: 0;
    }

    .rant {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin-bottom: 1em;

      div {
        display: flex;
        width: 100%;

        .rant-user-info {
          min-width: 60px;
          max-width: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .first-name {
            color: inherit;
            text-decoration: none;
          }

          img {
            width: 100%;
            margin: 0 0 5px 0;
          }
        }

        .rant-body {
          margin: 5px 0 0 1em;
          text-decoration: none;
          color: inherit;
          width: 100%;
          word-wrap: break-word;
        }
      }

      .rant-buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}