h1, h2, h3, h4, h5, h6, body {
  margin: 0;
  padding: 0;
  font-family: Comic Sans, sans-serif;
}

body {
  background-color: #666;
}

ul {
  list-style: none;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div, a {
    margin-right: .5em;
    display: inline-block;
  }

  .title {
    padding: 1em 2em 1em 1.5em;
    border-right: 1px solid green;
    font-size: 1em;

    a {
      text-decoration: none;
    }
  }

  a:nth-child(2) {
    text-decoration: none;
  }
  a, a:visited {
    color: #fff;
  }

  nav {
    margin-right: 10em;

    div {
      border-right: 1px solid green;
      padding: 5px;

      &:nth-child(4) {
        border: none;
      }

      a {
        color: #fff;
      }

      .active {
        color: green;
        text-decoration: none;
      }
    }
  }
}

input, textarea {
  box-sizing: border-box;
}

.button {
  background-color: green;
  display: flex;
  justify-content: center;
  padding: .5em 2em .5em 2em;
  color: #fff;
  border: none;
  text-decoration: none;
}

.flash {
  padding: .5em;
  background-color: green;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
}

.hashtag {
  color: red;
}