.favorite-button {
  align-self: flex-end;
}

.rant-container {
  padding: .5em;

  .rant-user {
    width: 20%;
    float: left;
    margin: 0 1em 0 0;
    text-align: center;

    a, a:visited {
      color: #333;
      text-decoration: none;
      font-size: 2em;
    }

    img {
      margin-top: .5em;
      width: 100%;
    }
  }
  p {
    margin: 0;
  }
}