.favorite-button {
  align-self: flex-end;
}

.rant-container {
  padding: .5em;
  width: 100%;

    a, a:visited {
      color: #333;
      text-decoration: none;
    }

  .rant-user {
    width: 20%;
    float: left;
    margin: -5px 1em 0 0;
    text-align: center;


    img {
      margin-top: .5em;
      width: 100%;
    }
  }

  .rant-options {
    display: flex;
    justify-content: space-between;

    div {
      width: 20%;
      display: flex;
      justify-content: space-between;

      a {
        padding: 5px 10px 5px 10px;
      }

      .spam {
        background-color: red;
      }

      .tweet {
        background-color: #55ACEE;
      }
    }
  }
  p {
    margin: 5px 0 0 0;
    word-wrap: break-word;
  }
}

.comments {
  width: 100%;

  .comment {
    display: flex;
    align-items: flex-start;
    margin: 1em 0 1em 0;

    img {
      min-width: 60px;
      max-width: 60px;
      margin-right: 1em;
    }
  }
}

.new-comment {
  width: 100%;

  input[type=text] {
    width: 100%;
  }

  input[type=submit] {
    float: right;
    margin-top: .5em;
  }
}
