.follow-button, .unfollow-button {
  align-self: flex-end;
}

.user-profile-info {
  display: flex;
  margin-top: 2em;
  width: 100%;

  img {
    min-width: 200px;
    max-height: 200px;
  }

  div {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
}

.user-profile-bio {
  width: 100%;
  margin-bottom: 3em;
}

.user-profile-rant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    margin: 0;
    text-decoration: none;
  }
  .favorite-button {
    align-self: flex-end;
  }
}