.user-form-container {
  display: flex;
  justify-content: center;
  padding: 3em 0 5em 0;

  .user-form {
    background-color: #fff;
    width: 60%;
//    margin: 3em 0 3em 0;

    h1 {
      padding: 20px;
    }

    div {
      margin-bottom: 5px;
    }

    .main-form {
      border-bottom: 1px solid #000;
      padding: 20px;

      .login-inputs {
        input {
          display: block;
          width: 100%;
          margin-bottom: 1em;
        }
      }

      .name-inputs {
        display: flex;
        justify-content: space-between;

        div {
          width: 47%;

          input {
            width: 100%;
            border: 1px solid #333;
          }
        }
      }

      textarea {
        width: 100%;
        border: 1px solid #333;
      }
    }

    .frequency-container {
      display: flex;
      justify-content: space-around;

    }

    .submit {
      margin: 1em;

      input[type=submit] {
        width: 100%;
      }
    }
  }
}